h1 {
    color:#f1faee;
}

/* * {
    border: solid;
} */

.header{
    background-color: #457b9d;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    background-color:#457b9d;
    color:#f1faee;
}

body{
background-color: #1d3557;  
}